<?php
/**
 * CakePHP(tm) : Rapid Development Framework (http://cakephp.org)
 * Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 *
 * Licensed under The MIT License
 * For full copyright and license information, please see the LICENSE.txt
 * Redistributions of files must retain the above copyright notice.
 *
 * @copyright     Copyright (c) Cake Software Foundation, Inc. (http://cakefoundation.org)
 * @link          http://cakephp.org CakePHP(tm) Project
 * @package       app.View.Layouts
 * @since         CakePHP(tm) v 0.10.0.1076
 * @license       http://www.opensource.org/licenses/mit-license.php MIT License
 */

$cakeDescription = __d('cake_dev', 'Lead Management');
//$cakeVersion = __d('cake_dev', 'CakePHP %s', Configure::version())
$cakeVersion = __d('cake_dev', 'Copyright %s LeadManagement', '@');
?>
<!DOCTYPE html>
<html>
<head>
	<?php echo $this->Html->charset(); ?>
	<title>
		<?php echo $cakeDescription ?>:
		<?php echo $this->fetch('title'); ?>
	</title>
	<?php
		echo $this->Html->meta('icon');

		//echo $this->Html->css('cake.generic');
		echo $this->Html->css('/usermgmt/css/umstyle');
		echo $this->Html->css('bootstrap.css');
		echo $this->Html->css('bootstrap.min.css');
		echo $this->Html->css('bootstrap-theme.min.css');
		echo $this->Html->css('bootstrap-theme.css');
		
		echo $this->Html->script('jquery-1.11.2.js');
		echo $this->Html->script('jquery-2_1_3.js');
        echo $this->Html->script('bootstrap.js');
		echo $this->Html->script('bootstrap.min.js');
		
		
		echo $this->fetch('meta');
		echo $this->fetch('css');
		echo $this->fetch('script');
	?>
</head>
<body>
	<div id="container">
		<div id="header">
			<h2><?php echo $this->Html->link(__($cakeDescription, true),"/") //echo $this->Html->link($cakeDescription, 'http://cakephp.org'); ?></h2>
			<?php echo $this->element('header'); ?>
		</div>
		<div class="panel panel-default">
			<div id="content" class="panel-body">

				<?php echo $this->Session->flash(); ?>

				<?php echo $this->fetch('content'); ?>
			</div>
			<div id="footer" class="panel-footer navbar-inverse" style="color: #fff">
				<div class="">
				<?php echo $this->Html->link(
						$this->Html->image('cake.power.gif', array('alt' => $cakeDescription, 'border' => '0')),
						'http://www.cakephp.org/',
						array('target' => '_blank', 'escape' => false, 'id' => 'cake-powered')
					);
				?>
				<?php echo $cakeVersion; ?>				
				</div>
			</div>
		</div>
	</div>
	<?php //echo $this->element('sql_dump'); ?>
</body>
</html>
